# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
.vs/
*.swp
*~
_ReSharper*
*.log

# Windows
*.user.*
*.tlog
*.cache

# ignore compilation files
build/*
/bin

# build dirs
/build*
/*.lnk
/win*
